@import "tailwindcss";
/* 导入字体 */
@font-face {
  font-family: "Regular";
  src: url("/fonts/AlibabaPuHuiTi-3-55-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/AlibabaPuHuiTi-3-65-Medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/AlibabaPuHuiTi-3-75-SemiBold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/AlibabaPuHuiTi-3-85-Bold.otf");
}
@font-face {
  font-family: "JHL";
  src: url("/fonts/京華老宋体v2.002.ttf");
}

/* 滚动条颜色 */
* {
  scrollbar-color: var(--color-dark-100) var(--color-black);   
}
/* 定义主题 */
@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --font-jHL: "JHL";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
  --color-mint-500: #b700ff;
}
/* 主题的使用，className="font-regular bg-mint-500" */

/* 定义全局样式 */
html,
body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #000;
  /* 默认字体和颜色 */
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

/* 实用工具类 */
/* @utility size-full {
  @apply w-full h-full;
} */
/* 行居中 */
@utility flex-center {
  @apply flex items-center justify-center;
}
/* 左右对齐 */
@utility flex-between {
  @apply flex items-center justify-between;
}
/* 列居中 */
@utility col-center {
  @apply flex flex-col items-center justify-center;
}
/* 绝对居中 */
@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
/* 字体 */
@utility jHL-8xl {
  @apply font-jHL text-8xl;
}
/* 基础毛玻璃 */
@utility glass {
  @apply backdrop-blur-md bg-white/20 border border-white/30 rounded-xl p-6;
}
/* 中度毛玻璃 */
@utility glass-medium {
  @apply backdrop-blur-md bg-white/10 border border-white/20 shadow-lg rounded-2xl p-6;
}
/* 强度毛玻璃 */
@utility glass-strong {
  @apply backdrop-blur-xl bg-white/10 border border-white/30 shadow-[0_8px_32px_0_rgba(0,0,0,0.37)] rounded-2xl p-6;
}
/* 深色毛玻璃 */
@utility glass-light {
  @apply backdrop-blur-lg bg-black/30 border border-white/10 rounded-xl shadow-xl p-6;
}
/* 超薄毛玻璃（像 macOS 控制中心） */
@utility glass-ultrathin {
  @apply backdrop-blur-xl bg-white/5 border border-white/10 rounded-2xl p-4;
}




/* 基于组件的样式 */
@layer components {
  #loading{
    @apply flex-center fixed w-full h-full z-1000 bg-black;
  }
  #canvas{
    @apply w-full h-screen fixed z-0
  }
  #fixedUi{
    @apply z-500 h-full fixed w-full;
  }
  #timeline{
    @apply z-200 relative;
  }

  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center min-h-[7vh];

    nav{
      @apply container mx-auto flex-between px-5 2xl:px-0;
    }

    ul{
      @apply flex-center gap-8;

      a {
          @apply hidden md:block text-white opacity-80 font-regular text-sm cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
      }

    }
  }

  canvas {
    @apply size-full relative
  }
}



